{% extends 'index.html' %}

{% block content %}
<h1>Upload</h1>
    <span class="error">
        {{ error }}
    </span>
    <h3>Raw</h3>
    <form action="" method="POST">
        {% csrf_token %}
        Title <br>
        <input type="text" name="title"><br>
        DNA <br>
        <input type="text" name="type" value="raw" hidden>
        <textarea class="dna_input" type="text" name="dna"></textarea><br>
        <input type="submit">
    </form>
    
    <!-- <h3>FASTA files</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        File <br>
        <input type="text" name="type" value="file" hidden>
        <input type="file" name="file"><br>
        <input type="submit">
    </form> -->
{% endblock %}