body{
    margin:0;
    font-family:arial;
    box-sizing: content-box;
}

.container{
    max-width:960px;
    width:Math(100% - 30px);
    word-break: break-all;
    margin:auto;
    padding:15px;
}

a{
    text-decoration: none;
    color:#000;
    display:inline-block;
    margin:25px;
}

header{
    width:100%;
    height:100px;
}

header a{
    text-align:center;
    padding:15px;
    width:75px;
    border-radius:15px;
    background-color:#229922;
    float:left;
    color:#fff;
    font-weight: bold;
    margin-top:25px;
    margin-left:25px;
}